<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil</title>
    <link rel="stylesheet" href="../node_modules/bulma/css/bulma.min.css">
    <link rel="stylesheet" href="../css/home.css">
</head>

<body>
    <header>
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="https://bulma.io">
                <img src="https://logo-logos.com/2016/10/Hotel_Indigo_logo.png" width="112" height="28">
            </a>

            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false"
                data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item">
                    Habitaciones
                </a>
                <a class="navbar-item">
                    Reservas
                </a>
                <a class="navbar-item">
                    perfil
                </a>

            </div>
        </div>
    </nav>
    <section class="perfil">
        <h1>
            Nombre del usuario
        </h1>
        <br>
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3f/Placeholder_view_vector.svg/310px-Placeholder_view_vector.svg.png" alt="">
        <p>
            Correo Electronico
            <br>
            Carlosgeek503@gmail.com
            <br>
            <br>
            <a href="" class="button is-danger is-outlined" style="font-size: 20px; border-radius: 25px; padding: 15px">
                Cerrar sesion
            </a>
        </p>
    </section>
</header>
</body>

</html>