<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <link rel="stylesheet" href="../node_modules/bulma/css/bulma.min.css">
    <link rel="stylesheet" href="../css/home.css">
</head>
<body>
    <header class="header-register">
        <nav class="navbar" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
              <a class="navbar-item" href="https://bulma.io">
                <img src="https://logo-logos.com/2016/10/Hotel_Indigo_logo.png" width="112" height="28">
              </a>
          
              <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
              </a>
            </div>
          
            <div id="navbarBasicExample" class="navbar-menu">
              <div class="navbar-start">
                <a class="navbar-item">
                  Bienvenida
                </a>
          
                <a class="navbar-item">
                  Vision y Mision
                </a>
          
               <a href="" class="navbar-item">
                Contactanos
               </a>
              </div>
          
              <div class="navbar-end">
                <div class="navbar-item">
                  <div class="buttons">
                    <a class="button is-primary is-outlined">
                      <strong>Registrate</strong>
                    </a>
                    <a class="button is-light is-outlined">
                      Iniciar Sesion
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </nav>
          <section class="formulario registro" style="height: 700px; ">
            <h3>
                Registro de sesion
            </h3>
            <i class="fa-regular fa-user" style="color: #ffffff; font-size: 100px; margin-top: 5%;"></i>
            <form action="">
                <label for="">
                    Correo Electronico
                </label>
                <input class="form-text" required type="email">
                <br>
                <label for="">
                    Contraseña
                </label>
                <br>
                <input class="form-text" required type="password" name="" id="">

                <label for="">Nombre de usuario</label>
                <input type="text" class="form-text">

                <br> 
                <button type="submit" class="boton">
                    <i class="fa-solid fa-arrow-right-to-bracket fa-lg icon-login" style="color: #ffffff; margin-right: 10px;"></i> Registrarse
                </button>
            </form>
          </section>
          
    </header>
      <script src="https://kit.fontawesome.com/357aae614a.js" crossorigin="anonymous"></script>
</body>
</html>